<h1>Modal</h1>
<!--<div class="modal-header" data-backdrop="static">
  <h3 class="modal-title" id="modal-title"></h3>
</div>-->

<div class="modal-body" id="modal-body">
  <form>
       
                          <div>{{$ctrl.vacancy.code}}</div>
                          <div>{{$ctrl.vacancy.contact}}</div>
                          <div>{{$ctrl.vacancy.description}}</div>
                          <div>{{$ctrl.vacancy.due_date | date : 'dd/MM/yyyy'}}</div>
                          <div>{{$ctrl.vacancy.email}}</div>
                          <div>{{$ctrl.vacancy.exprience}}</div>
                          <div>{{$ctrl.vacancy.level}}</div>
                          <div>{{$ctrl.vacancy.mobile}}</div>
                          <div>{{$ctrl.vacancy.number_required}}</div>
                          <div>{{$ctrl.vacancy.position}}</div>
                          <div>{{$ctrl.vacancy.qualifications}}</div>
                          <div>{{$ctrl.vacancy.salary}}</div>
                          <div>{{$ctrl.vacancy.status}}</div>  
                           <input type="button" value="Print" onclick="window.print()" />
      </form>
  
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">OK</button>
  <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
</div>
