<meta charset="utf-8">
<script src="geezinputs.js"></script>
<div  class="modal-header">
    <h3 class="modal-title" id="modal-title">Create jobcategory</h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="alert alert-success" id="infosuccess" hidden>
        Operation Successfull.
      </div>
      <div class="alert alert-danger" id="infofail" hidden>
         Operation Failed
     </div>
     
    <form name="userCreateForm">
        
         <div class="form-group input-group">
             <span class="input-group-addon">@</span>
            <input type="text" class="form-control"  class="geezinput" placeholder="jobcategory" ng-model="$ctrl.name" required>
        </div>    
        
        <div class="modal-footer">
            <button type="submit" class="btn btn-success" ng-click="$ctrl.ok()" >Submit</button>
            
            <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
        </div>
    </form>
 </div>
