<h1>Modal</h1>
<div class="modal-header" data-backdrop="static">
  <h3 class="modal-title" id="modal-title">User</h3>
</div>

<div class="modal-body" id="modal-body">
                          
  <div>country : {{$ctrl.customer.profile.country}}</div>
  <div>city : {{$ctrl.customer.profile.first_name}}</div>
  <div>email : {{$ctrl.customer.profile.last_name}}</div>

</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">OK</button>
  <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
</div>
